.footer__column-link {
    font-weight: normal;
    color: white;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
}

.footer__column-link:hover {
    opacity: .3;
    transition: opacity 2s linear .3s;
}