.resources__logo {
    width: 270px;
    height: 38px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    transition: opacity .5s linear .1s;
}

.resources__logo:hover {
    opacity: .3;
}